.mainContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    width: 100%;
    border-bottom: var(--border);
    /* display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center; */
    margin: auto;


    >h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--heading-color);
        font-family: 'Borel', cursive;
        font-size: 2rem;
        margin: 2rem;
        font-weight: 100;
        animation: mytext 5s steps(4) infinite;
    }
}

@keyframes mytext {
    0% {
        color: var(--heading-color);
        text-shadow: 2px 2px 30px var(--heading-shadow-color);
    }

    19% {
        color: var(--heading-color);
        text-shadow: 2px 2px 30px var(--heading-shadow-color);
    }

    20% {
        color: var(--text-shadow-color);
        text-shadow: none;
    }

    21% {
        color: var(--heading-color);
        text-shadow: 2px 2px 30px var(--heading-shadow-color);
    }

    60% {
        color: var(--heading-color);
        text-shadow: 2px 2px 30px var(--heading-shadow-color);
    }

    61% {
        color: var(--text-shadow-color);
        text-shadow: none;
    }

    62% {
        color: var(--heading-color);
        text-shadow: 2px 2px 30px var(--heading-shadow-color);
    }

    63% {
        color: var(--text-shadow-color);
        text-shadow: none;
    }

    64% {
        color: var(--heading-color);
        text-shadow: 2px 2px 30px var(--heading-shadow-color);
    }

    100% {
        color: var(--heading-color);
        text-shadow: 2px 2px 30px var(--heading-shadow-color);
    }
}


.chatBox {
    width: 80%;
    /* height: 100%;
    */
    flex: 1;
    margin: auto;
    display: grid;
    /* background: red; */
    grid-template-columns: 350px 1fr;

}

.msgSection {
    display: flex;
    border: var(--border);
    flex-direction: column;
    gap: 1rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    /* padding: 10px; */
    border-top: none;
    border-left: none;
    overflow: hidden;
}


.mainSection {
    width: 100%;
    display: grid;
    overflow: hidden;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    border: var(--border);
}

.selected_user_profile {
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    border-bottom: var(--border);
    /* margin: 1rem; */
    padding: 1rem;

    >div {
        cursor: pointer;

        >span {
            font-weight: bolder;
            margin-left: -1rem 0 0 1rem;
        }
    }

    .status {
        >p {
            font-size: .7rem;
            color: rgb(11, 215, 11);
            margin-top: .5rem;
            font-weight: bolder;
            /* display: none; */
        }
    }

}

.chatUserProfile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    background: #000;
    overflow: hidden;

    >img {
        position: absolute;
        inset: 0;
        margin: auto;
    }
}





.chatScreen {
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;
    padding: 1rem;
    grid-row: 2;
    width: 100%;


    display: flex;
    flex-direction: column;



    >div {
        border-radius: 5px;
        max-width: 55%;
        margin-top: .6rem;
        border-bottom-right-radius: 0;
        position: relative;
        font-size: 14px;
        line-height: calc(14px*1.5);
        letter-spacing: 1px;

        >div {
            position: absolute;
            bottom: 3px;
            right: 2px;
            font-size: .6rem;
        }

        >p {
            padding-right: 1.5rem;
            word-wrap: break-word;
        }
    }

    >.incoming_msg {
        background: #f8f8f8;
        color: black;
        padding: .5rem;
        align-self: flex-start;

        >div {
            color: #5b5b5b;
        }
    }


    >.outgoing_msg {
        background: black;
        color: #f8f8f8;
        padding: .5rem;
        align-self: flex-end;
        >div {
            color: #808080;
        }

    }

    >.msgTime {
        background-color: rgb(155, 155, 155);
        color: black;
        font-size: .8em;
        font-weight: 700;
        width: max-content;
        border-radius: 5px;
        margin: .5rem auto;
        display: flex;
        align-items: center;
        justify-content: center;

        >p {
            margin: auto;
            padding: 2px 5px;
        }
    }
}

.chatScreen::-webkit-scrollbar {
    display: none;
}

.sendMsg {
    display: flex;
    gap: .5rem;
    width: 97%;
    grid-row: 3;

    >input {
        outline: none;
        flex: 1;
        border: none;
        padding: .5rem;
        text-indent: 8px;
        font-size: 1.1rem;
        background: white;
        color: black;
        border-radius: 8px;
    }

    >button {
        background: green;
        color: white;
        padding: 4px;
        border-radius: 5px;
    }
}


.list {
    flex: 1;
    border: var(--border);
    border-top: none;
    overflow: hidden;
}

.usersScreen {
    display: flex;
    flex-direction: column;
    height: 80vh;

    >.helo {
        margin-bottom: .5rem;
        /* border-bottom: 1px solid ; */
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: inset 0px -3px 10px var(--primary-color);
        text-align: center;
        padding: 1rem;
        font-size: 1.3rem;
    }
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: lighter;
    overflow-y: auto;

    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer/Edge */

    >li {
        padding: .8rem;
        border-bottom: 1px dotted gray;
        cursor: pointer;
        height: 30px;
        display: flex;
        align-items: center;
        gap: 2rem;
        justify-content: flex-start;
        text-transform: capitalize;



        .profileframe {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #1a161c;
            position: relative;
            overflow: hidden;

            >img {
                /* border-radius: 50%; */
                position: absolute;
                inset: 0;
                margin: auto;
            }
        }

        >h3 {
            font-size: 1rem;
            font-weight: 400;
        }
    }

    >li:hover {
        background: #5b5b5b;
    }
}

ul::-webkit-scrollbar {
    display: none;
}







@media (max-width: 992px) {
    .chatBox {
        width: 95%;
        grid-template-columns: 300px 1fr;
    }

}

@media (max-width: 768px) {

    .usersScreen {
        height: 92vh;
    }

    /* .msgSection {
        display: none;
    } */
    .chatBox {
        width: 90%;
        /* grid-template-columns:0px 1fr; */
        grid-template-columns: 1fr 0px;
    }

    .changeLayout {
        width: 60%;
        grid-template-columns: 0px 1fr;
    }


    header {
        grid-template-columns: 1fr;
        height: 60px;


        >h3 {
            margin: auto;
            font-size: 1.5rem;
        }
    }




    /* .chatBox {
        width: 90%; */
    /* } */
}

@media (max-width: 576px) {
    .chatBox {
        width: 100%;
    }

    header {
        grid-template-columns: 1fr;
        height: 60px;



        >h3 {
            margin: auto;
            font-size: 1.5rem;
        }
    }
}